[Unit]
Description=yomiage-keiryou一式を起動
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start voicevox-engine.service yomiage-keiryou.service
